# ---------------------------------------------------------------------------
# Trivadis AG, Infrastructure Managed Services
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# ---------------------------------------------------------------------------
# Name.......: terraform.tfvars.example
# Author.....: Stefan Oehrli (oes) stefan.oehrli@trivadis.com
# Editor.....: Stefan Oehrli
# Date.......: 2020.10.12
# Revision...: 
# Purpose....: Example Terraform Variable file.
# Notes......: 
# Reference..: --
# License....: Apache License Version 2.0, January 2004 as shown
#              at http://www.apache.org/licenses/
# ---------------------------------------------------------------------------

# provider identity parameters ----------------------------------------------
fingerprint                 = ""
private_key_path            = ""
region                      = "eu-zurich-1"
user_ocid                   = ""

# general oci parameters ----------------------------------------------------
compartment_id              = ""
label_prefix                = "none"
resource_name               = ""
tags                        = {}

# VCN parameters ------------------------------------------------------------
internet_gateway_enabled    = true
nat_gateway_enabled         = true
service_gateway_enabled     = false
vcn_cidr                    = "10.0.0.0/16"
public_netnum               = 0
public_newbits              = 8
private_netnum              = 1
private_newbits             = 8

# Trivadis LAB specific parameter -------------------------------------------
tvd_participants            = 1
tvd_domain                  = "trivadislabs.com"
tvd_dns_hostnum             = 4
tvd_private_dns             = "default" 
tvd_public_dns              = "8.8.8.8" 
# --- EOF -------------------------------------------------------------------
